@import "../../../../../styles/variables";

.room-title{
  padding: 1em 1em 1em 2em;
  border-bottom: 2px solid $grey;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 4px 10px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.btn:hover{
  background-color: gray;
  color: white;
}

.upload-btn-wrapper > input[type=file] {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
