@import "../../../styles/variables";

.nav-item, span {
  color: #ffffff;
}

nav {
  background: #4caf50;

  button {
    width: auto !important;
  }
}

a {
  color: $light-grey;
  margin-left: 3em;

  &.active {
    border-bottom: 3px solid $gold;
  }
}

