<div class="container-wrapper container d-flex justify-content-center align-items-center">
  <div class="form-wrapper text-center">
    <h2 class="text-center">Sign up</h2>
    <form [formGroup]="signupForm" novalidate>
      <div class="name-wrapper d-flex">
        <div class="form-group student-id">
          <input type="text" class="form-control" id="studentId-input" placeholder="Enter Your Id" formControlName="userId">
        </div>
        <div class="form-group">
          <select class="form-control" formControlName="role" id="facultySections">
            <option value="Student">Student</option>
            <option value="Faculty">Faculty</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <input type="email" class="form-control" id="email-input" placeholder="Enter Email" formControlName="email">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" id="password-input" placeholder="Enter Password" formControlName="password">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" id="confirmPassword-input" placeholder="Confirm Password" formControlName="confirmPassword">
      </div>
      <button type="button" (click)="submit()" class="btn btn-primary" [disabled]="!signupForm.valid">Submit</button>
    </form>
    <small><a routerLink="/login">Already have an Account ?</a></small>
  </div>
</div>
<app-footer></app-footer>
