<div class="container mt-4 mb-4">
  <tabset>
    <tab heading="Register Students" id="tab1">
      <div class="mt-4">
        <div class="col-lg-12">
          <div class="row">
            <form name="studentForm" [formGroup]="studentForm" (submit)="registerStudent()" novalidate>
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-sm-6 form-group">
                    <label>First Name</label>
                    <input type="text" formControlName="firstName" placeholder="Enter First Name Here.." class="form-control">
                  </div>
                  <div class="col-sm-6 form-group">
                    <label>Last Name</label>
                    <input type="text" formControlName="lastName" placeholder="Enter Last Name Here.." class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label>Address</label>
                  <textarea formControlName="address" placeholder="Enter Address Here.." rows="3" class="form-control"></textarea>
                </div>
                <div class="row">
                  <div class="col-sm-4 form-group">
                    <label>City</label>
                    <input type="text" formControlName="city" placeholder="Enter City Name Here.." class="form-control">
                  </div>
                  <div class="col-sm-4 form-group">
                    <label>State</label>
                    <input type="text" formControlName="state" placeholder="Enter State Name Here.." class="form-control">
                  </div>
                  <div class="col-sm-4 form-group">
                    <label>Zip</label>
                    <input type="text" formControlName="zipcode" placeholder="Enter Zip Code Here.." class="form-control">
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6 form-group">
                    <label>Department</label>
                    <select class="form-control" formControlName="department" id="studentDepartments">
                      <option value="ECE">ECE</option>
                      <option value="CSE">CSE</option>
                      <option value="IT">IT</option>
                      <option value="CIVIL">CIVIL</option>
                      <option value="EEE">EEE</option>
                      <option value="MECH">MECH</option>
                    </select>
                  </div>
                  <div class="col-sm-6 form-group">
                    <label>Section</label>
                    <select class="form-control" formControlName="section" id="studentSections">
                      <option value="A">A</option>
                      <option value="B">B</option>
                      <option value="C">C</option>
                      <option value="D">D</option>
                      <option value="E">E</option>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-sm-6">
                    <label>Phone Number</label>
                    <input type="number" formControlName="phone" placeholder="Enter Phone Number Here.." class="form-control">
                  </div>
                  <div class="form-group col-sm-6">
                    <label>Email Address</label>
                    <input type="email" formControlName="email" placeholder="Enter Email Address Here.." class="form-control">
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-sm-4">
                    <label>Date of Birth</label>
                    <input type="date" formControlName="dob" class="form-control">
                  </div>
                  <div class="form-group col-sm-4">
                    <label>Student Id</label>
                    <input type="text" formControlName="id" placeholder="Enter Student Id Here.." class="form-control">
                  </div>
                  <div class="form-group col-sm-4">
                    <label>Role</label>
                    <input type="text" formControlName="role" placeholder="Enter Role Here.." class="form-control">
                  </div>
                </div>

                <button type="submit" [disabled]="studentForm.invalid" class="btn btn-lg btn-info">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </tab>
    <tab heading="Register Faculty">
      <div class="mt-4">
        <div class="col-lg-12">
          <div class="row">
            <form name="facultyForm" [formGroup]="facultyForm" (submit)="registerFaculty()" novalidate>
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-sm-6 form-group">
                    <label>First Name</label>
                    <input type="text" formControlName="firstName" placeholder="Enter First Name Here.." class="form-control">
                  </div>
                  <div class="col-sm-6 form-group">
                    <label>Last Name</label>
                    <input type="text" formControlName="lastName" placeholder="Enter Last Name Here.." class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label>Address</label>
                  <textarea formControlName="address" placeholder="Enter Address Here.." rows="3" class="form-control"></textarea>
                </div>
                <div class="row">
                  <div class="col-sm-4 form-group">
                    <label>City</label>
                    <input type="text" formControlName="city" placeholder="Enter City Name Here.." class="form-control">
                  </div>
                  <div class="col-sm-4 form-group">
                    <label>State</label>
                    <input type="text" formControlName="state" placeholder="Enter State Name Here.." class="form-control">
                  </div>
                  <div class="col-sm-4 form-group">
                    <label>Zip</label>
                    <input type="number" formControlName="zipcode" placeholder="Enter Zip Code Here.." class="form-control">
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6 form-group">
                    <label>Department</label>
                    <select class="form-control" formControlName="department" id="facultyDepartments">
                      <option value="ECE">ECE</option>
                      <option value="CSE">CSE</option>
                      <option value="IT">IT</option>
                      <option value="CIVIL">CIVIL</option>
                      <option value="EEE">EEE</option>
                      <option value="MECH">MECH</option>
                    </select>
                  </div>
                  <div class="col-sm-6 form-group">
                    <label>Designation</label>
                    <select class="form-control" formControlName="designation" id="facultySections">
                      <option value="Associate">Associate</option>
                      <option value="Assistant">Assistant</option>
                      <option value="Lab Incharge">Lab Incharge</option>
                      <option value="Head of Department">Head of Department</option>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-sm-6">
                    <label>Phone Number</label>
                    <input type="number" formControlName="phone" placeholder="Enter Phone Number Here.." class="form-control">
                  </div>
                  <div class="form-group col-sm-6">
                    <label>Email Address</label>
                    <input type="email" formControlName="email" placeholder="Enter Email Address Here.." class="form-control">
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-sm-4">
                    <label>Date of Birth</label>
                    <input type="date" formControlName="dob"  class="form-control">
                  </div>
                  <div class="form-group col-sm-4">
                    <label>Faculty Id</label>
                    <input type="text" formControlName="id" placeholder="Enter Faculty Id Here.." class="form-control">
                  </div>
                  <div class="form-group col-sm-4">
                    <label>Role</label>
                    <input type="text" formControlName="role" placeholder="Enter Role Here.." class="form-control">
                  </div>
                </div>
                <button type="submit" [disabled]="facultyForm.invalid" class="btn btn-lg btn-info">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>

    </tab>
   <!-- <tab heading="Register Department">
      <div class="mt-4">
        <div class="col-lg-12">
          <div class="row">
            <form name="facultyForm" [formGroup]="departmentForm" (submit)="registerDepartment()" novalidate>
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-sm-6 form-group">
                    <label>Department Name</label>
                    <input type="text" formControlName="departmentName" placeholder="Enter Department Name Here.." class="form-control">
                  </div>
                  <div class="col-sm-6 form-group">
                    <label>Sections</label>
                    <select class="form-control" formControlName="sections" id="departmentSections">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6 form-group">
                    <label>Phone Number</label>
                    <input type="number" formControlName="departmentPhone" placeholder="Enter Phone Here.." class="form-control">
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-sm-6">
                    <label>Department Email Address</label>
                    <input type="email" formControlName="departmentEmail" placeholder="Enter Email Address Here.." class="form-control">
                  </div>
                  <div class="form-group col-sm-6">
                    <label>Start Date</label>
                    <input type="date" formControlName="startDate" placeholder="Enter Start Date.." class="form-control">
                  </div>
                </div>
                <button type="submit" class="btn btn-lg btn-info">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </tab>-->
  </tabset>
</div>
